<br/>
<form id="createRole" action="create" method="post">
    <table style="width: 600px !important; margin: auto;" cellpadding="0" cellspacing="0"
           class="list list_dubbo"
           id="table_o">
        <tr>
            <th colspan="2">添加角色</th>
        </tr>
        <tr>
            <td style="text-align: right !important; width: 40%;">角色名</td>
            <td><input type="text" name="roleName" id="roleName" value=""/></td>
        </tr>
        <tr>
            <td style="text-align: right !important; width: 40%;">状态</td>
            <td>
                <input type="radio" name="status" checked value="1"/>启用
                <input type="radio" name="status" style="margin-left: 15px;" value="0"/>禁用
            </td>
        </tr>
        <tr>
            <td style="text-align: center !important;" colspan="2">
                <input type="button" onclick="createRole()" style="margin: 10px; padding: 5px 10px;" value="添加"/>
            </td>
        </tr>
    </table>
</form>
<script>
    function createRole() {
        var v_name = $("#roleName").val();
        if (!v_name) {
            showAlert("添加角色", "<font color='red' size='3'>角色名不能为空！</font>", "old_pwd");
            return;
        }
        $("#createRole").submit();
    }
</script>