<br/>
<form id="modifyUser" action="modify" method="post">
    <table style="width: 600px !important; margin: auto;" cellpadding="0" cellspacing="0"
           class="list list_dubbo"
           id="table_o">
        <tr>
            <th colspan="2">$i18n.get("modify.accountinfo")</th>
        </tr>
        <tr>
            <td style="text-align: right !important; width: 40%;">$i18n.get("displayName")</td>
            <td><input type="text" name="name" id="name" value="$!currentUser.name"/></td>
        </tr>
        <tr>
            <td style="text-align: right !important; width: 40%;">$i18n.get("department")</td>
            <td><input type="text" name="department" id="department" value="$!currentUser.department"/></td>
        </tr>
        <tr>
            <td style="text-align: right !important; width: 40%;">$i18n.get("email")</td>
            <td><input type="text" name="email" id="email" value="$!currentUser.email"/></td>
        </tr>
        <tr>
            <td style="text-align: right !important; width: 40%;">$i18n.get("phone")</td>
            <td><input type="text" name="phone" id="phone" value="$!currentUser.phone"/></td>
        </tr>
        <tr>
            <td style="text-align: right !important; width: 40%;">$i18n.get("locale")</td>
            <td>
                <select id="selectLanguage" id="locale" name="locale">
                    <option value="en" #if($!currentUser.locale == "en")selected="selected"#end>English</option>
                    <option value="zh" #if($!currentUser.locale == "zh")selected="selected"#end>简体中文</option>
                    <option value="zh_TW" #if($!currentUser.locale == "zh_TW")selected="selected"#end>繁體中文</option>
                </select>
            ##                <input type="text" name="locale" id="locale" value="$!currentUser.locale"/>
            </td>
        </tr>
        <tr>
            <td style="text-align: center !important;" colspan="2">
                <input type="hidden" name="id" value="$!currentUser.id">
                <input type="button" onclick="modifyUser()" style="margin: 10px; padding: 5px 10px;" value="$i18n.get("save")"/>
            </td>
        </tr>
    </table>
</form>
<script>
    function modifyUser() {
        var v_name = $("#name").val(), v_department = $("#department").val(), v_email = $("#email").val();
        if (!v_name) {
            showAlert("$i18n.get("modify.accountinfo")", "<font color='red' size='3'>$i18n.get("modify.accountinfo.displayName.tip")</font>", "name");
            return;
        }
        if (!v_department) {
            showAlert("$i18n.get("modify.accountinfo")", "<font color='red' size='3'>$i18n.get("modify.accountinfo.department.tip")</font>", "department");
            return;
        }
        if (!v_email) {
            showAlert("$i18n.get("modify.accountinfo")", "<font color='red' size='3'>$i18n.get("modify.accountinfo.email.tip")</font>", "email");
            return;
        }
        $("#modifyUser").submit();
//        showConfirm('确定修改密码?', 'passwds/' + $("#id").val() + '/changePwd')
    }
</script>