#if(!$currentUser)
<font color="red">$i18n.get("not.found")</font>
#else
<div class="ico_btn">
    <a href="/account/infos/edit"><img
            src="$rootContextPath.getURI("images/ico_user.png")" width="12" height="12"/><span
            class="ico_font">$i18n.get("modify.accountinfo")</span></a>
    <span class="ico_line">|</span>
    <a href="/account/infos/passwds"><img
            src="$rootContextPath.getURI("images/ico_password.png")" width="12" height="12"/><span
            class="ico_font">$i18n.get("modify.account.password")</span></a>
</div>
<br/>
<table cellpadding="0" cellspacing="0" class="list list_dubbo" id="table_o">
    <tr>
        <th>$i18n.get("username")</th>
        <th>$i18n.get("displayName")</th>
        <th>$i18n.get("department")</th>
        <th>$i18n.get("role")</th>
        <th>$i18n.get("email")</th>
        <th>$i18n.get("phone")</th>
        <th>$i18n.get("locale")</th>
        <th>$i18n.get("appPrivilege")</th>
        <th>$i18n.get("servicePrivilege")</th>
        <th>$i18n.get("managePrivilege")</th>
        <th>$i18n.get("created")</th>
        <th>$i18n.get("status")</th>
    </tr>
    <tr>
        <td>$currentUser.username</td>
        <td>$!currentUser.name</td>
        <td>$!currentUser.department</td>
        <td>$!currentUser.roleName</td>
        <td>$!currentUser.email</td>
        <td>$!currentUser.phone</td>
        <td>$!currentUser.locale</td>
        <td>$!currentUser.appPrivilege</td>
        <td>$!currentUser.servicePrivilege</td>
        <td>$!currentUser.managePrivilege</td>
        <td>$!tool.formatDate($!currentUser.created)</td>
        <td>
            #if ($currentUser.status =="1")
                <font color="green">$i18n.get("enabled")</font>
            #elseif($currentUser.status == "2")
                <font color="blue">$i18n.get("other")</font>
            #else
                <font color="#a9a9a9">$i18n.get("enabled")</font>
            #end
        </td>
    </tr>
</table>
#end