<br/>
<form id="changePwd" action="../passwds/changePwd" method="post">
<table style="width: 600px !important; margin: auto;" cellpadding="0" cellspacing="0"
       class="list list_dubbo"
       id="table_o">
    <tr>
        <th colspan="2">修改个人密码</th>
    </tr>
    <tr>
        <td style="text-align: right !important; width: 40%;">旧密码</td>
        <td><input type="password" name="oldPwd" id="old_pwd"/></td>
    </tr>
    <tr>
        <td style="text-align: right !important; width: 40%;">新密码</td>
        <td><input type="password" name="newPwd" id="new_pwd"/></td>
    </tr>
    <tr>
        <td style="text-align: right !important; width: 40%;">确认密码</td>
        <td><input type="password" name="rePwd" id="re_pwd"/></td>
    </tr>
    <tr>
        <td style="text-align: center !important;" colspan="2">
            <input type="hidden" name="id" value="$!currentUser.id">
            <input type="button" onclick="checkPasswd()" style="margin: 10px; padding: 5px 10px;" value="确定"/>
        </td>
    </tr>
</table>
</form>
<script>
    function checkPasswd() {
        var old_val = $("#old_pwd").val(), new_val = $("#new_pwd").val(), re_pwd = $("#re_pwd").val();
        if (!old_val) {
            showAlert("修改个人密码", "<font color='red' size='3'>旧密码不能为空！</font>", "old_pwd");
            return;
        }
        if (!new_val) {
            showAlert("修改个人密码", "<font color='red' size='3'>新密码不能为空！</font>", "new_pwd");
            return;
        }
        if (!re_pwd) {
            showAlert("修改个人密码", "<font color='red' size='3'>确认密码不能为空！</font>", "re_pwd");
            return;
        }
        if (new_val != re_pwd) {
            showAlert("修改个人密码", "<font color='red' size='3'>密码输入不一致！</font>", "re_pwd");
            return;
        }
        $("#changePwd").submit();
//        showConfirm('确定修改密码?', 'passwds/' + $("#id").val() + '/changePwd')
    }
</script>