<br/>
<form id="createUser" action="create" method="post">
    <table style="width: 600px !important; margin: auto;" cellpadding="0" cellspacing="0"
           class="list list_dubbo"
           id="table_o">
        <tr>
            <th colspan="2">$i18n.get("add")$i18n.get("users")</th>
        </tr>
        <tr>
            <td style="text-align: right !important; width: 40%;">$i18n.get("username")</td>
            <td><input type="text" name="username" id="username" value=""/></td>
        </tr>
        <tr>
            <td style="text-align: right !important; width: 40%;">$i18n.get("displayName")</td>
            <td><input type="text" name="name" id="name" value=""/></td>
        </tr>
        <tr>
            <td style="text-align: right !important; width: 40%;">$i18n.get("department")</td>
            <td><input type="text" name="department" id="department" value=""/></td>
        </tr>
        <tr>
            <td style="text-align: right !important; width: 40%;">$i18n.get("email")</td>
            <td><input type="text" name="email" id="email" value=""/></td>
        </tr>
        <tr>
            <td style="text-align: right !important; width: 40%;">$i18n.get("phone")</td>
            <td><input type="text" name="phone" id="phone" value=""/></td>
        </tr>
        <tr>
            <td style="text-align: right !important; width: 40%;">$i18n.get("locale")</td>
            <td>
                <select id="selectLanguage" id="locale" name="locale">
                    <option value="en">English</option>
                    <option value="zh" selected>简体中文</option>
                    <option value="zh_TW">繁體中文</option>
                </select>
            </td>
        </tr>
        <tr>
            <td style="text-align: right !important; width: 40%;">$i18n.get("status")</td>
            <td>
                <input type="radio" name="status" checked value="1"/>$i18n.get("enable")
                <input type="radio" name="status" style="margin-left: 15px;" value="0"/>$i18n.get("disable")
            </td>
        </tr>
        <tr>
            <td style="text-align: center !important;" colspan="2">
                <input type="button" onclick="createUser()" style="margin: 10px; padding: 5px 10px;"
                       value="$i18n.get("add")"/>
            </td>
        </tr>
    </table>
</form>
<script>
    function createUser() {
        var v_name = $("#name").val(), v_department = $("#department").val(), v_email = $("#email").val();
        if (!v_name) {
            showAlert("$i18n.get("add")$i18n.get("users")", "<font color='red' size='3'>$i18n.get("modify.accountinfo.displayName.tip")</font>", "name");
            return;
        }
        if (!v_department) {
            showAlert("$i18n.get("add")$i18n.get("users")", "<font color='red' size='3'>$i18n.get("modify.accountinfo.department.tip")</font>", "department");
            return;
        }
        if (!v_email) {
            showAlert("$i18n.get("add")$i18n.get("users")", "<font color='red' size='3'>$i18n.get("modify.accountinfo.email.tip")</font>", "email");
            return;
        }
        $("#createUser").submit();
    }
</script>