<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.alibaba.dubbo.dal.mapper.UserExtendMapper">
    <resultMap id="BaseResultMap" type="com.alibaba.dubbo.registry.common.domain.UserExtend">
        <id column="uid" property="id" jdbcType="INTEGER"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="department" property="department" jdbcType="VARCHAR"/>
        <result column="role_id" property="roleId" jdbcType="VARCHAR"/>
        <result column="role_name" property="roleName" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="locale" property="locale" jdbcType="VARCHAR"/>
        <result column="service_privilege" property="servicePrivilege" jdbcType="VARCHAR"/>
        <result column="app_privilege" property="appPrivilege" jdbcType="VARCHAR"/>
        <result column="manage_privilege" property="managePrivilege" jdbcType="VARCHAR"/>
        <result column="create_time" property="created" jdbcType="TIMESTAMP"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    uid, username, password, name, department, role_id, role_name,
    email, phone, locale, service_privilege, app_privilege, manage_privilege, create_time, status
  </sql>
    <sql id="where_Condition">
        <where>
            1 = 1
            <if test="condition != null">
                <if test="condition.id != null">
                    and uid = #{condition.id,jdbcType=INTEGER}
                </if>
                <if test="condition.username != null">
                    and username = #{condition.username,jdbcType=VARCHAR}
                </if>
                <if test="condition.password != null">
                    and password = #{condition.password,jdbcType=VARCHAR}
                </if>
                <if test="condition.name != null">
                    and name = #{condition.name,jdbcType=VARCHAR}
                </if>
                <if test="condition.department != null">
                    and department = #{condition.department,jdbcType=VARCHAR}
                </if>
                <if test="condition.roleId != null">
                    and role_id = #{condition.roleId,jdbcType=VARCHAR}
                </if>
                <if test="condition.roleName != null">
                    and role_name = #{condition.roleName,jdbcType=VARCHAR}
                </if>
                <if test="condition.email != null">
                    and email = #{condition.email,jdbcType=VARCHAR}
                </if>
                <if test="condition.phone != null">
                    and phone = #{condition.phone,jdbcType=VARCHAR}
                </if>
                <if test="condition.locale != null">
                    and locale = #{condition.locale,jdbcType=VARCHAR}
                </if>
                <if test="condition.servicePrivilege != null">
                    and service_privilege = #{condition.servicePrivilege,jdbcType=VARCHAR}
                </if>
                <if test="condition.appPrivilege != null">
                    and app_privilege = #{condition.appPrivilege,jdbcType=VARCHAR}
                </if>
                <if test="condition.managePrivilege != null">
                    and manage_privilege = #{condition.managePrivilege,jdbcType=VARCHAR}
                </if>
                <if test="condition.created != null">
                    and create_time = #{condition.created,jdbcType=TIMESTAMP}
                </if>
                <if test="condition.status != null">
                    and status = #{condition.status,jdbcType=VARCHAR}
                </if>
            </if>
        </where>
    </sql>
    <sql id="where_UserExtend">
        <where>
            1 = 1
            <if test="id != null">
                and uid = #{id,jdbcType=INTEGER}
            </if>
            <if test="username != null">
                and username = #{username,jdbcType=VARCHAR}
            </if>
            <if test="password != null">
                and password = #{password,jdbcType=VARCHAR}
            </if>
            <if test="name != null">
                and name = #{name,jdbcType=VARCHAR}
            </if>
            <if test="department != null">
                and department = #{department,jdbcType=VARCHAR}
            </if>
            <if test="roleId != null">
                and role_id = #{roleId,jdbcType=VARCHAR}
            </if>
            <if test="roleName != null">
                and role_name = #{roleName,jdbcType=VARCHAR}
            </if>
            <if test="email != null">
                and email = #{email,jdbcType=VARCHAR}
            </if>
            <if test="phone != null">
                and phone = #{phone,jdbcType=VARCHAR}
            </if>
            <if test="locale != null">
                and locale = #{locale,jdbcType=VARCHAR}
            </if>
            <if test="servicePrivilege != null">
                and service_privilege = #{servicePrivilege,jdbcType=VARCHAR}
            </if>
            <if test="appPrivilege != null">
                and app_privilege = #{appPrivilege,jdbcType=VARCHAR}
            </if>
            <if test="managePrivilege != null">
                and manage_privilege = #{managePrivilege,jdbcType=VARCHAR}
            </if>
            <if test="created != null">
                and create_time = #{created,jdbcType=TIMESTAMP}
            </if>
            <if test="status != null">
                and status = #{status,jdbcType=VARCHAR}
            </if>
        </where>
    </sql>

    <select id="findUserExtendById" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from dubbo_user
        where uid = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteUserExtendById" parameterType="java.lang.Long">
        delete from dubbo_user
        where uid = #{id,jdbcType=INTEGER}
    </delete>

    <delete id="deleteUserExtendByIds">
        delete from dubbo_user
        where uid IN
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <insert id="insertUserExtend" parameterType="com.alibaba.dubbo.registry.common.domain.UserExtend">
        insert into dubbo_user (username, password, name, department, role_id, role_name,
        email, phone, locale, service_privilege, app_privilege, manage_privilege, create_time, status)
        values (#{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
        #{department,jdbcType=VARCHAR}, #{roleId,jdbcType=VARCHAR}, #{roleName,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR},
        #{phone,jdbcType=VARCHAR}, #{locale,jdbcType=VARCHAR}, #{servicePrivilege,jdbcType=VARCHAR},
        #{appPrivilege,jdbcType=VARCHAR}, #{managePrivilege,jdbcType=VARCHAR}, #{created,jdbcType=TIMESTAMP}, #{status,jdbcType=VARCHAR})
    </insert>

    <update id="updateUserExtendByCondition" parameterType="java.util.Map">
        update dubbo_user
        <set>
            <if test="userExtend.username != null">
                username = #{userExtend.username,jdbcType=VARCHAR},
            </if>
            <if test="userExtend.password != null">
                password = #{userExtend.password,jdbcType=VARCHAR},
            </if>
            <if test="userExtend.name != null">
                name = #{userExtend.name,jdbcType=VARCHAR},
            </if>
            <if test="userExtend.department != null">
                department = #{userExtend.department,jdbcType=VARCHAR},
            </if>
            <if test="userExtend.roleId != null">
                role_id = #{userExtend.roleId,jdbcType=VARCHAR},
            </if>
            <if test="userExtend.roleName != null">
                role_name = #{userExtend.roleName,jdbcType=VARCHAR},
            </if>
            <if test="userExtend.email != null">
                email = #{userExtend.email,jdbcType=VARCHAR},
            </if>
            <if test="userExtend.phone != null">
                phone = #{userExtend.phone,jdbcType=VARCHAR},
            </if>
            <if test="userExtend.locale != null">
                locale = #{userExtend.locale,jdbcType=VARCHAR},
            </if>
            <if test="userExtend.servicePrivilege != null">
                service_privilege = #{userExtend.servicePrivilege,jdbcType=VARCHAR},
            </if>
            <if test="userExtend.appPrivilege != null">
                app_privilege = #{userExtend.appPrivilege,jdbcType=VARCHAR},
            </if>
            <if test="userExtend.managePrivilege != null">
                manage_privilege = #{userExtend.managePrivilege,jdbcType=VARCHAR},
            </if>
            <if test="userExtend.created != null">
                create_time = #{userExtend.created,jdbcType=TIMESTAMP},
            </if>
            <if test="userExtend.status != null">
                status = #{userExtend.status,jdbcType=VARCHAR}
            </if>
        </set>
        <include refid="where_Condition"/>
    </update>

    <update id="updateUserExtendById" parameterType="com.alibaba.dubbo.registry.common.domain.UserExtend">
        update dubbo_user
        <set>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="department != null">
                department = #{department,jdbcType=VARCHAR},
            </if>
            <if test="roleId != null">
                role_id = #{roleId,jdbcType=VARCHAR},
            </if>
            <if test="roleName != null">
                role_name = #{roleName,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="locale != null">
                locale = #{locale,jdbcType=VARCHAR},
            </if>
            <if test="servicePrivilege != null">
                service_privilege = #{servicePrivilege,jdbcType=VARCHAR},
            </if>
            <if test="appPrivilege != null">
                app_privilege = #{appPrivilege,jdbcType=VARCHAR},
            </if>
            <if test="managePrivilege != null">
                manage_privilege = #{managePrivilege,jdbcType=VARCHAR},
            </if>
            <if test="created != null">
                create_time = #{created,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=VARCHAR}
            </if>
        </set>
        where uid = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateUserExtendByIds" parameterType="com.alibaba.dubbo.registry.common.domain.UserExtend">
        update dubbo_user
        <set>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="department != null">
                department = #{department,jdbcType=VARCHAR},
            </if>
            <if test="roleId != null">
                role_id = #{roleId,jdbcType=VARCHAR},
            </if>
            <if test="roleName != null">
                role_name = #{roleName,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="locale != null">
                locale = #{locale,jdbcType=VARCHAR},
            </if>
            <if test="servicePrivilege != null">
                service_privilege = #{servicePrivilege,jdbcType=VARCHAR},
            </if>
            <if test="appPrivilege != null">
                app_privilege = #{appPrivilege,jdbcType=VARCHAR},
            </if>
            <if test="managePrivilege != null">
                manage_privilege = #{managePrivilege,jdbcType=VARCHAR},
            </if>
            <if test="created != null">
                create_time = #{created,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=VARCHAR}
            </if>
        </set>
        where uid IN
        <foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <update id="updateUserExtendAllById" parameterType="com.alibaba.dubbo.registry.common.domain.UserExtend">
        update dubbo_user
        set
            username = #{userExtend.username,jdbcType=VARCHAR},
            password = #{userExtend.password,jdbcType=VARCHAR},
            name = #{userExtend.name,jdbcType=VARCHAR},
            department = #{userExtend.department,jdbcType=VARCHAR},
            role_id = #{userExtend.roleId,jdbcType=VARCHAR},
            role_name = #{userExtend.roleName,jdbcType=VARCHAR},
            email = #{userExtend.email,jdbcType=VARCHAR},
            phone = #{userExtend.phone,jdbcType=VARCHAR},
            locale = #{userExtend.locale,jdbcType=VARCHAR},
            service_privilege = #{userExtend.servicePrivilege,jdbcType=VARCHAR},
            app_privilege = #{userExtend.appPrivilege,jdbcType=VARCHAR},
            manage_privilege = #{userExtend.managePrivilege,jdbcType=VARCHAR},
            create_time = #{userExtend.created,jdbcType=TIMESTAMP},
            status = #{userExtend.status,jdbcType=VARCHAR}
        where uid = #{id,jdbcType=INTEGER}
    </update>

    <select id="findUserExtendByCondition" resultMap="BaseResultMap"
            parameterType="com.alibaba.dubbo.registry.common.domain.UserExtend">
        select
        <include refid="Base_Column_List"/>
        from dubbo_user
        <include refid="where_UserExtend"/>
        <if test="sortField != null and sortDesc != null">
            ORDER BY ${sortField} ${sortDesc}
        </if>
    </select>

    <select id="findUserExtendByConditionWithPage" resultMap="BaseResultMap"
            parameterType="com.alibaba.dubbo.registry.common.domain.UserExtend">
        select
        <include refid="Base_Column_List"/>
        from dubbo_user
        <include refid="where_UserExtend"/>
        <if test="sortField != null and sortDesc != null">
            ORDER BY ${sortField} ${sortDesc}
        </if>
        <if test="pageIndex != null and pageSize != null">
            limit #{pageIndex, jdbcType=INTEGER} , #{pageSize, jdbcType=INTEGER}
        </if>
    </select>

    <select id="findCountUserExtend" resultType="java.lang.Integer"
            parameterType="com.alibaba.dubbo.registry.common.domain.UserExtend">
        select count(*)
        from dubbo_user
        <include refid="where_UserExtend"/>
    </select>
</mapper>